:root {
    --primary: #171717;
    --secondary: #fff;

    --blue: #086683;
    --red: #b83434;

    --shadow:
        3px 3px 5px #00000080,
        inset -3px -3px 5px #00000080,
        inset 3px 3px 5px #fff2,
        inset 6px 6px 10px #fff2 !important;

    --gradient-red: linear-gradient(120deg,
            #b83434 45%,
            #d47b7b 50%,
            #b83434 55%);

    --gradient-blue: linear-gradient(120deg,
            #086683 45%,
            #5ea3b8 50%,
            #086683 55%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #fff;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: #000;
    overflow-x: hidden;

    &::-webkit-scrollbar {
        display: none;
    }
}

html {
    scroll-behavior: smooth;
}

img {
    pointer-events: none;
}

a:not(p>a) {
    all: unset;
    cursor: pointer;
    font-weight: 900;
    font-size: x-large;

    &:after {
        content: "Vagas limitadas";
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 5px;
        font-size: 10px;
        color: #fff5;
        margin-top: 12px;
        font-size: xx-small;
        font-weight: 100;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    text-wrap: balance;
    font-family: "Abril Fatface", serif;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.btn-action {
    padding: 20px;
    margin: 20px 0;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 700;
    border: none !important;
    cursor: pointer;
    text-align: center;
    width: 100% !important;
    background-size: 300% 300% !important;
    transition: 1s ease-in-out !important;
    background-position: 100% !important;
    z-index: 9999 !important;
    box-shadow: var(--shadow);


    &[variant="primary"] {
        background: var(--gradient-red);
        color: #fff;
    }

    &[variant="secondary"] {
        background: var(--gradient-blue);
        color: #fff;
    }
}

.btn-action:hover {
    background-position: 0% 100% !important;
}


.section {
    width: 100dvw;
    min-height: 100dvh;
    padding: 40px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    & .container {
        width: min(1000px, 100%);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        flex-direction: row;
        margin: auto;

        & .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            min-width: 300px;
            gap: 20px;
        }
    }
}

.container-column {
    flex-direction: column !important;
}

#s2 {
    & .container-info {
        flex-direction: row;
        padding: 20px 0;
        border-radius: 10px;
        margin: 40px 0;



        & .content {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 300px;

            & img {
                width: 100%;
                position: relative;
            }
        }
    }

    & ul {
        list-style: circle inside !important;
        margin: 0;
        padding: 0;
        text-align: left;
        line-height: 2;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 10px;

        & li {
            position: relative;
            padding-left: 20px;

            gap: 10px;
            padding: 10px 0;

            &:not(:last-child) {
                border-bottom: 1px solid #ccc;
            }

        }
    }


}

[borders] {
    border: 1px solid gray !important;
}

[borders="primary"] {
    border: 1px solid red !important;
}

.logo {
    width: 150px;
    filter: brightness(0) invert(1);
    z-index: 9999;
    opacity: 30% !important;
}

img {
    max-width: 100%;
}

#header {
    /* background: radial-gradient(circle at center,
            #171717,
            #000); */
    background: url(/img/bg-sec01.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: var(--secondary);

    & .btn-action {
        width: 400px !important;
        align-self: flex-start !important;
    }


}

.separador {
    width: 100%;
    height: 20px;
    background: var(--gradient-red);
}

.divider-cake {
    width: 100px;
    height: 100px;
    background: #fff;
    border-radius: 0 0 50% 50% / 50%;
    position: relative;
    top: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    & img {
        position: relative;
        top: 10px;
        width: 40px;
    }

    &::after {
        content: "";
        width: 50%;
        height: 50%;
        background: #fff;
        border-radius: 10px 0 50% 50% / 50% 50%;
        position: absolute;
        transform: translate(-90%, -10%);
    }

    &::before {
        content: "";
        width: 50%;
        height: 50%;
        background: #fff;
        border-radius: 10px 0 50% 50% / 50% 50%;
        position: absolute;
        transform: translate(90%, -10%);
    }

}

.section.time-line {
    padding: 20px;

    & .container {

        & ul {
            list-style: outside none;
            margin: 0;
            text-align: left;
            line-height: 2;
            padding: 10px;

            & h4 {
                font-size: 1.2rem;
                color: #333;
                font-weight: 400;
                margin: 20px 20px 80px 20px;
            }

            & li {
                list-style: none;
                font-size: 1.2rem;
                color: #333;
                font-weight: 400;
                margin: 20px;
                position: relative;
                background-color: #ccc4;
                border-radius: 10px;
                padding: 20px 20px 20px 50px;
                line-height: 1.5;
                font-weight: 400;
                font-size: 16px;

                &::before {
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%) translateX(-30px);
                    width: 20px;
                    height: 20px;
                    border-radius: 50%;
                    background: #333;
                }

                &::after {
                    content: "";
                    position: absolute;
                    left: 9px;
                    bottom: 50%;
                    width: 3px;
                    transform: translateX(-30px);
                    height: calc(100% + 20px);
                    background: linear-gradient(to top, #333, transparent);
                }

            }
        }
    }
}

#s3 {
    background: var(--blue);
    color: #fff;
    padding-top: 100px;

    & .container-cards {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        margin: 40px 0;


        & .card {
            width: 300px;
            height: 400px;
            border-radius: 10px 0 10px 0;
            box-shadow: var(--shadow);

            background: linear-gradient(120deg,
                    #ccc,
                    #fff,
                    #ccc);
            color: #000;
            text-align: center !important;
            gap: 20px;
            transition: .5s ease-in-out;
        }

        .card:hover {
            filter: blur(0) !important;
            scale: 1 !important;
        }
    }

    .container-cards:hover .card {
        filter: blur(10px);
        scale: .95;
    }
}

#s4 {
    background: url(/img/section\ bonus.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-height: 700px;

    & .content:first-child {
        width: 400px;
    }
}

#s42 {
    background: var(--primary);
    color: #fff;
    text-align: center;
}

#s5 {
    background: var(--secondary);

    & .container-info {
        gap: 40px;
        padding: 20px;
        background: #fff;
        border-radius: 10px;
        box-shadow: var(--shadow);
        background-color: var(--primary);
        color: #fff;

        & .container-column {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            & img {
                margin-bottom: 20px !important;
            }
        }
    }
}

.badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 20px 0;
    flex-wrap: nowrap;

    & h4 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 10px !important;
        color: #fff;
        background: #fff2;
        padding: 10px 20px;
        border-radius: 20px;
        border: #fff 1px solid;
        margin-bottom: -25px;
    }
}

.card-with-image {
    overflow: hidden;
    display: grid !important;
    grid-template-rows: 1fr 2fr 4fr 2fr;
    gap: 10px !important;

    & img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        margin-bottom: 10px;
        border-bottom: var(--red) 5px solid;
        filter: brightness(.5);
    }

    & h3 {
        color: #333;
        margin: 10px;
        color: var(--red);
    }

    & p {
        font-size: 14px;
        color: #666;
        text-wrap: wrap;
        line-height: 1.5;
        text-overflow: ellipsis;
        text-align: center;
        margin: 20px;
        text-wrap: balance;
    }
}

.accordion {
    & .accordion-row {
        overflow: hidden;
        padding: 10px;

        & p {
            margin: 0;
            position: relative;
            top: 100px;
            transition: .5s;

        }
    }

    & .accordion-title {
        all: unset;
        width: 95%;
        border: 1px solid #ccc;
        padding: 10px 20px;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        transition: .5s ease-in-out;
        background-color: #fff;
        z-index: 9999 !important;
    }

    & .accordion-title:hover {
        background: #ccc;
    }

}

.ytb-embed-video {
    overflow: hidden;
    border-radius: 20px;
    box-shadow: var(--shadow);

    & .thumbnail {
        all: unset;
        width: 100%;
        cursor: pointer !important;
        z-index: 9999 !important;

        & img {
            width: 100%;
            height: 100%;
            background-size: cover !important;
            background-position: center;
            background-repeat: no-repeat;
            transition: .5s ease-in-out;
        }
    }

    & iframe {
        transform: translate(0, -100%);
        z-index: -1 !important;
    }

    &[paused="true"] {
        background-image: url("/embed.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.timeline {
    content: '';
    display: block;
    padding-bottom: 2%;
    background-color: brown;
    border-radius: 0 20px 20px 20px;
    width: 0;
    z-index: 9999 !important;
    position: absolute;
    bottom: 2px;
    animation: timeline 42s linear;
    animation-play-state: paused;

}

@keyframes timeline {
    0% {
        width: 0%;
    }

    100% {
        width: 101%;
    }
}

.destaque {
    color: var(--red);
    text-transform: uppercase;
    font-weight: 900;
}

@keyframes flutuate {
    0% {
        transform: translateY(-100px);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(-100px);
    }
}



/* controles exclusivos do vídeo*/
.cov,
.covall,
#loadingVideo,
#cfs {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    max-width: 100%;

}

/* background style for #loadingVideo */
#loadingVideo {
    background: none;
}

/* background style and display for #cfs */
#cfs {
    background-image: url(/img/embed.png);
    background-size: cover;
    display: none;
    cursor: pointer;
    z-index: 25;

}

.ytb-video {
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid gold;
    width: 100%;

}

/* background style and display for .cov */
.cov {
    background-image: url(/img/embed.png);
    background-size: cover;
    display: none;
    z-index: 20 !important;
}

/* z-index for .covall */
.covall {
    z-index: 10 !important;
}

/* responsive video positioning */
.responsive-video {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    margin: auto;

}

/* iframe positioning within .responsive-video */
.responsive-video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* embed container positioning */


/* iframe, object, and embed positioning within .embed-container */




@media (max-width: 767px) {
    .section {
        padding: 20px;
        flex-direction: column !important;
        max-width: 100dvw !important;

        .container {
            width: 100% !important;
            flex-direction: column !important;
        }
    }

    #header {

        & .container {
            flex-direction: column !important;
            overflow-x: hidden !important;
        }

        & .logo {
            width: 100px !important;
            top: 0px !important;
            margin: 20px auto;

        }

        & .capa-img {
            width: 700px;
            position: relative;
            left: -70px;
            top: -25px;
        }

        & .badges {
            gap: 19px;
            margin: 8px;
            scale: .9;
        }

        & h1 {
            font-size: 1.2rem !important;
            margin: 2%;
        }

        & p {
            font-size: 1rem !important;
        }
    }

    #s2 {
        & .container-info {
            flex-direction: column !important;

            & .content {
                border: none !important;
            }
        }
    }



    #s3 {
        & .container-info {
            flex-direction: column !important;
        }
    }

    #s4 {
        background: none !important;

    }

    #s42 {
        & .container {
            padding: 40px 10px !important;

            & h2 {
                font-size: 1.2rem !important;
                text-wrap: balance !important;
            }

        }
    }

    #s5 {
        & .container {
            flex-direction: column;
            padding: 20px !important;


            & .container-column {
                margin-top: 100px;

                & h3,
                p {
                    text-align: center !important;
                    gap: 20px !important;
                    width: 80% !important;
                }


            }
        }
    }

    .doces-s5,
    .doces {
        left: -150px !important;
    }


    body {
        position: relative;
        left: 0px !important;
        max-width: 100dvw !important;
    }


}